.footer-top {
  background-color: #0f82f7;
  color: whitesmoke;

  .container {
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  .card {
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 50px 25px;
    cursor: pointer;

    &:hover {
      background-color: #0d6ac7;
      transition: 0.4s;
    }

    .icon {
      img {
        height: 55px;
      }
    }

    &:last-of-type .icon img {
      height: 40px;
    }

    .section-name {
      font-size: 15px;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }
}

.footer-mid {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  overflow: hidden;

  .container {
    position: relative;
  }

  #dc-logo-bg {
    position: absolute;
    right: 0px;
    transform: translate(0, -20%);
  }

  .links {
    display: flex;
    padding: 50px 0;

    .col {
      width: 170px;

      .section {
        margin: 10px 0;

        h4 {
          color: whitesmoke;
          text-transform: uppercase;
          font-size: 20px;
        }

        ul {
          list-style: none;
          margin: 10px 0;

          li {
            a {
              font-size: 14px;
              text-decoration: none;
              color: rgb(122, 122, 122);

              &:hover {
                color: rgb(190, 190, 190);
              }
            }
          }
        }
      }
    }
  }
}